:root, [data-theme="default"] {
  --white: #FFFFFF;
  --black: #000000;
  --gray1: hsla(240, 29%, 86%, 1);
  --gray2: hsla(0, 0%, 48%, 1);
  --gray3: hsla(0, 0%, 62%, 1);
  --gray4: hsla(0, 0%, 72%, 1);
  --color-primary: var(--gray1);
  --corp-c-1: hsla(206, 71%, 15%, 1);
  --corp-c-2: hsla(211, 29%, 26%, 1);
  --corp-c-3: hsla(18, 83%, 53%, 1);
  --corp-c-4: hsla(20, 81%, 35%, 1);
  --corp-c-5: hsla(206, 71%, 10%, 1);
  --blue-c: hsla(224, 84%, 50%, 1);
  --purple-c: hsla(327, 94%, 21%, 1);
  --orange-c: hsla(14, 100%, 50%, 1);
  --navy-c: hsla(193, 95%, 15%, 1);
  --yellow-c: hsla(58, 100%, 62%, 1);
  /* color contrasts */
  --color-bg: var(--gray1);
  --menu-bg: var(--white);
  --color-contrast-high: var(--black);
  --color-labels: var(--black);
  --border-C: transparent;
  --border-C-Footer: transparent;
  --identita-bgr: var(--blue-c);
  --identita-clr: var(--gray1);
  --story-bgr: var(--navy-c);
  --story-clr: var(--gray1);
  --plan1-bgr: var(--yellow-c);
  --film-bgr: var(--plan1-bgr);
  --plan1-clr: var(--navy-c);
  --film-clr: var(--plan1-clr);
  --plan2-bgr: var(--gray1);
  --vystava-bgr: var(--plan2-bgr);
  --plan2-clr: var(--blue-c);
  --vystava-clr: var(--plan2-clr);
  --plan3-bgr: var(--blue-c);
  --kniha-bgr: var(--plan3-bgr);
  --plan3-clr: var(--gray1);
  --kniha-clr: var(--plan3-clr);
  --plan4-bgr: var(--navy-c);
  --cyklus-bgr: var(--plan4-bgr);
  --plan4-clr: var(--gray1);
  --cyklus-clr: var(--plan4-clr);
  --plan5-bgr: var(--navy-c);
  --partners-bgr: #002733;
  --plan5-clr: var(--gray1);
  --partners-clr: var(--gray1);
  --planShop-bgr: var(--yellow-c);
  --planShop-clr: var(--navy-c);
  --plan6-bgr: var(--blue-c);
  --newsletter-bgr: var(--plan6-bgr);
  --plan6-clr: var(--gray1);
  --newsletter-clr: var(--plan6-clr);
  --plan7-bgr: var(--yellow-c);
  --press-bgr: var(--plan7-bgr);
  --plan7-clr: var(--navy-c);
  --press-clr: var(--plan7-clr);
  --plan8-bgr: var(--black);
  --footer-bgr: var(--plan8-bgr);
  --plan8-clr: var(--gray1);
  --footer-clr: var(--plan8-clr);
  --tvurci-titl-clr: var(--navy-c);
  --tvurci-titl-bgr: var(--yellow-c);
  --tvurci-cont-bgr: var(--gray1);
  --tvurci-cont-clr: var(--blue-c);
  --news-titl-clr: var(--blue-c);
  --news-titl-bgr: var(--gray1);
  --news-cont-bgr: var(--navy-c);
  --news-cont-clr: var(--gray1);
  --media-cont-bgr: var(--yellow-c);
  --media-cont-clr: var(--navy-c);
  --menu-clr: var(--blue-c);
  --menu-bgr: var(--gray1);
}

[data-theme="no-color"] .section-header--press .section-header--title_container,
[data-theme="no-color"] .section-header--press .inner-content-wrapper, [data-theme="no-color"] .section-header--footer .section-header--title_container,
[data-theme="no-color"] .section-header--footer .inner-content-wrapper,
[data-theme="no-color"] .section-footer--press .section-header--title_container,
[data-theme="no-color"] .section-footer--press .inner-content-wrapper,
[data-theme="no-color"] .section-footer--footer .section-header--title_container,
[data-theme="no-color"] .section-footer--footer .inner-content-wrapper,
[data-theme="no-color"] .section-content--press .section-header--title_container,
[data-theme="no-color"] .section-content--press .inner-content-wrapper,
[data-theme="no-color"] .section-content--footer .section-header--title_container,
[data-theme="no-color"] .section-content--footer .inner-content-wrapper {
  border-width: var(--bw-outline) var(--bw-outline) 0 var(--bw-outline);
}
[data-theme="no-color"] .section-header--partners .section-header--title_container,
[data-theme="no-color"] .section-footer--partners .section-header--title_container,
[data-theme="no-color"] .section-content--partners .section-header--title_container {
  border-width: 0;
  border-color: transparent;
}
[data-theme="no-color"] .section-header--plan3::after {
  border-width: 0 var(--bw-outline) 0 0;
}
[data-theme="no-color"] .newsrun {
  color: var(--white);
}
[data-theme="no-color"] .newsrun--item + .newsrun--item::before,
[data-theme="no-color"] .marquee-content:nth-child(2) .newsrun--item:first-child::before {
  background-color: var(--white);
}

[data-theme="no-color"] {
  /* color contrasts */
  --color-bg: var(--white);
  --menu-bg: var(--white);
  --color-contrast-high: var(--black);
  --border-C: var(--black);
  --border-C-Footer: var(--white);
  --identita-bgr: var(--black);
  --identita-clr: var(--white);
  --story-bgr: var(--white);
  --story-clr: var(--black);
  --plan1-bgr: var(--white);
  --planShop-bgr: var(--white);
  --film-bgr: var(--plan1-bgr);
  --plan1-clr: var(--black);
  --planShop-clr: var(--black);
  --film-clr: var(--plan1-clr);
  --plan2-bgr: var(--white);
  --vystava-bgr: var(--plan2-bgr);
  --plan2-clr: var(--black);
  --vystava-clr: var(--plan2-clr);
  --plan3-bgr: var(--white);
  --kniha-bgr: var(--plan3-bgr);
  --plan3-clr: var(--black);
  --kniha-clr: var(--plan3-clr);
  --plan4-bgr: var(--white);
  --cyklus-bgr: var(--plan4-bgr);
  --plan4-clr: var(--black);
  --cyklus-clr: var(--plan4-clr);
  --plan5-bgr: var(--black);
  --partners-bgr: var(--plan5-bgr);
  --plan5-clr: var(--white);
  --partners-clr: var(--plan5-clr);
  --planShop-bgr: var(--white);
  --planShop-clr: var(--black);
  --plan6-bgr: var(--white);
  --newsletter-bgr: var(--plan6-bgr);
  --plan6-clr: var(--black);
  --newsletter-clr: var(--plan6-clr);
  --plan7-bgr: var(--black);
  --press-bgr: var(--plan7-bgr);
  --plan7-clr: var(--white);
  --press-clr: var(--plan7-clr);
  --plan8-bgr: var(--black);
  --footer-bgr: var(--plan8-bgr);
  --plan8-clr: var(--white);
  --footer-clr: var(--plan8-clr);
  --tvurci-titl-bgr: var(--white);
  --tvurci-titl-clr: var(--black);
  --tvurci-cont-bgr: var(--white);
  --tvurci-cont-clr: var(--black);
  --news-titl-clr: var(--black);
  --news-titl-bgr: var(--white);
  --news-cont-bgr: var(--white);
  --news-cont-clr: var(--black);
  --media-cont-bgr: var(--white);
  --media-cont-clr: var(--black);
  --menu-clr: var(--black);
  --menu-bgr: var(--white);
  --bw-outline: 1px;
}
[data-theme="no-color"] .bg_color_blue, [data-theme="no-color"] .bg_color_dark, [data-theme="no-color"] .bg_color_grey {
  background-color: var(--black);
  --color-contrast-high: var(--white);
}

:root {
  --pad-T: calc(8px + (12 - 8) * ((100vw - 320px) / (2560 - 320)));
  --pad-R: calc(12px + (36 - 12) * ((100vw - 320px) / (2560 - 320)));
  --fscreen-T: var(--pad-T);
  --fscreen-R: var(--pad-R);
  --dsalpha-1: 0.0;
  --dsalpha-2: 0.0;
  --maW: 1440;
  --logo-W: calc(160px + (220 - 160) * ((100vw - 320px) / (2560 - 320)));
  --header-H: calc(100vh * 0.065);
  --dir-LR: 1;
  --logo-RATIO: 1;
  --h2-lh: 0.85;
  --bg-H: calc(100vh * 0.04);
  --identita-ar: 1/4;
  --overlap-tabs: 15vh;
  --partners-gap: calc(32px + (72 - 32) * ((100vw - 320px) / (2560 - 320)));
  --icon-S: calc(32px + (36 - 32) * ((100vw - 320px) / (2560 - 320)));
  --btn-pad-tb: 1;
  --btn-pad-lr: 1;
  --filler-H: 0;
  --touch-S: 36px;
  --lightbox-icon-W: 36px;
  --safari-btn-T: 1;
  --safari-btn-B: 1;
  --bloomberg-H: 2.25rem;
  --divider-W: 5px;
}
@media (orientation: landscape) {
  :root {
    --header-H: calc(100vh * 0.08);
  }
}
@media (pointer: coarse) {
  :root {
    --touch-S: 42px;
    --lightbox-icon-W: 42px;
  }
}

/* GLOBAL SIZES */
/* CSS TRANSITION VARS */
/* GLOBAL FONT-SIZE */
/* GLOBAL PADDING */
/* GLOBAL MARGIN */
/* HEADER */
/* LOGO */
/* NAVIGATION */
/* NAVIGATION HAMBURGER MENU */
/* FORM SPECIFIC */
.rl-basicgrid-gallery .rl-gallery-item img {
  height: auto;
}

#swipebox-overlay,
#dha-overlay {
  background-color: var(--black);
}

#swipebox-bottom-bar, #swipebox-top-bar,
#dha-bottom-bar, #dha-top-bar {
  background-color: transparent;
}

#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
  margin: 0;
}

.rl-basicgrid-gallery {
  gap: 16px;
}

#swipebox-bottom-ba,
#swipebox-top-bar,
#dha-bottom-bar,
#dha-top-bar {
  opacity: 1;
  text-shadow: none;
}

#swipebox-bottom-bar,
#dha-bottom-bar {
  bottom: 0;
  top: initial;
}
@media screen and (orientation: landscape) {
  #swipebox-bottom-bar,
  #dha-bottom-bar {
    bottom: initial;
    top: 50%;
  }
}
#swipebox-bottom-bar.visible-bars,
#dha-bottom-bar.visible-bars {
  transform: translate3d(0, -50px, 0);
}
@media screen and (orientation: landscape) {
  #swipebox-bottom-bar.visible-bars,
  #dha-bottom-bar.visible-bars {
    transform: translate3d(0, -50%, 0);
  }
}
#swipebox-bottom-bar #swipebox-arrows,
#swipebox-bottom-bar #dha-arrows,
#dha-bottom-bar #swipebox-arrows,
#dha-bottom-bar #dha-arrows {
  width: 100%;
  max-width: 100%;
}

#swipebox-close,
#dha-close {
  right: calc(var(--pad-R) * 0.5);
  top: calc(var(--pad-T) * 0.5);
  background-position: 0 center;
}

#swipebox-prev,
#dha-prev {
  margin-left: calc(var(--pad-R) * 0.5);
  background-position: 50% center;
}

#swipebox-next,
#dha-next {
  margin-right: calc(var(--pad-R) * 0.5);
  background-position: 100% center;
}

#swipebox-prev, #swipebox-next, #swipebox-close,
#dha-prev, #dha-next, #dha-close {
  width: var(--lightbox-icon-W);
  height: var(--lightbox-icon-W);
  background-size: calc(var(--lightbox-icon-W) * 3) var(--lightbox-icon-W);
  background-color: var(--black);
  border-radius: 25vw;
}

#swipebox-title {
  display: inline-block;
  width: auto;
  padding: 0.75em var(--pad-R) 0.5em;
  text-align: left;
  text-indent: 0;
  color: var(--gray1);
}
@media screen and (orientation: landscape) {
  #swipebox-title {
    padding-top: .5em;
  }
}

.swipebox-title-container {
  width: 100%;
}
.swipebox-title-container span {
  background: var(--black);
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (2560 - 320)));
  line-height: 1.15em;
  font-family: 'Identita-Reg';
  font-style: normal;
}
@media screen and (orientation: landscape) {
  .swipebox-title-container span {
    font-size: calc(24px + (26 - 24) * ((100vw - 320px) / (2560 - 320)));
  }
}

/*# sourceMappingURL=identita-simple-lightbox-override.css.map */
